<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球采购.分销版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/distribution.css">
</head>
<!--[if lte IE 7]>
<body scroll="no">
<![endif]--> 
<!--[if gt IE 7]><!--> 
<body> 
<!--<![endif]-->
<div id="article">
    <div class="page section1 current">
        <div class="contain">
            <div id="pageContain">
                <div class="page page1 current">
                    <div class="contain div1">
                        <!--page内容-->
                        <div class="page1Distribution">
                            <div class="page1Img">
                                <div class="Text">
                                    <p class="title">全球采购.分销版</p>
                                    <p class="msg">为企业快速打造微信分销商城系统，</p>
                                    <p class="msg">助力企业迅速形成网络裂变式营销，迅速推广市场</p>
                                </div>
                            </div>
                            <div class="Price">
                                <p class="yuanPrice">原价{$currencySymbol}<del>16800</del></p>
                                <p class="yh">
                                    <span class="yhText">优惠价</span>
                                    <span class="yhP">
                                        <sup>{$currencySymbol}</sup>
                                        <span class="yhPrice">8800</span>
                                    </span>
                                </p>
                            </div>   
                            <a href="{:U('openstore/seller_open_account',array('style'=>4,'operate_sn'=>$operate_sn))}" class="distributionBtn button">立即开店</a>
                        </div>
                    </div>   
                </div>

                <div class="page page2">
                    <div class="contain div2">
                        <div class="page2Distribution">
                            <div class="Text">
                                <p class="title">一键分销，操作简便</p>
                                <p class="msg">形成网络裂变式营销，可随时随地发展线上代理商</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page8.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16758" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>

                <div class="page page3">
                    <div class="contain div3">
                        <div class="page3Distribution">
                            <div class="Text">
                                <p class="title">展示：强大的多平台商城系统，构建自己的网络商城</p>
                                <p class="msg">面向实体企业和传统电商，构建自己的多平台商城系统满足不同场景的交易需求，打造极致的下单体验解决企业在经营过程中与客户交易不便利的问题</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page2.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16758" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>

                <div class="page page4">
                    <div class="contain div4">
                        <div class="page4Distribution">
                            <div class="Text">
                                <p class="title">营销：多种实用功能，让企业营销更简单</p>
                                <p class="msg">抢购、特价、优惠券、热卖都是非常有效的促销手段，积分商城、公告、优惠券等，促进会员更活跃</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page3.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16758" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div> 
                <div class="page page5">
                    <div class="contain div5">
                        <div class="page5Distribution">
                            <div class="Text">
                                <p class="title">管理：独立会员系统，高效管理客户</p>
                                <p class="msg">可以会员等级、积分、历史订单等，也可以进行会员验证设置，屏蔽会员、与会员直接通话等，让商家可以高效管理会员</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page5.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16758" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <ul id="navBar" hidden>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <span class="start"><b></b></span>
    </div>

</div> 
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/fullPage.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/common.js"></script>

<!-- hjun 2017-06-18 18:32:30 配置放置在服务器完成 图标需要加上 http:// 也在服务器配置-->
<script>
    title = "全球采购·分销版";
    desc = "企业完整的分销商城解决方案，解决推广难问题";
    imgUrl = "http://file.duinin.com/data/upload/05586973633290123.png";
</script>
<include file="Public:share"/>