<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球采购.工厂版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/factory.css">
</head>
<!--[if lte IE 7]>
<body scroll="no">
<![endif]-->
<!--[if gt IE 7]><!-->
<body>
<!--<![endif]-->
<div id="article">
    <div class="page section1 current">
        <div class="contain">
            <div id="pageContain">
                <div class="page page1 current">
                    <div class="contain div1">
                        <!--page内容-->
                        <div class="page1Factory">
                            <div class="page1Img">
                                <div class="Text">
                                    <p class="title textAlign_c">全球采购.工厂版</p>
                                    <p class="msg">打造属于企业自身的供货系统，</p>
                                    <p class="msg">专属独立：自主管理，会员独立，保护客户隐私</p>
                                    <p class="msg">极致体验：极致订货流程，体验行业领先</p>
                                </div>
                            </div>
                            <div class="factoryFN">
                                <p>多平台解决方案：三网同步，满足客户需求</p>
                                <div class="fnList">
                                    <a>PC端</a>
                                    <a>微信端</a>
                                    <a>APP端</a>
                                </div>
                                <p style="text-align: left;">链接产生新价值：企业可以为采购商提供联盟工厂的商品服务</p>
                            </div>
                            <div class="Price">
                                <p class="yuanPrice">原价{$currencySymbol}<del>58000</del></p>
                                <p class="yh">
                                    <span class="yhText">优惠价</span>
                                    <span class="yhP">
                                        <sup>{$currencySymbol}</sup>
                                        <span class="yhPrice">25800</span>
                                    </span>
                                </p> 
                            </div>
                            <a href="{:U('openstore/seller_open_account',array('style'=>3,'operate_sn'=>$operate_sn))}" class="factoryBtn button">立即开店</a>
                        </div>
                    </div>
                </div> 

                <div class="page page2">
                    <div class="contain div2">
                        <div class="page2Factory">
                            <div class="Text">
                                <p class="title">强大的多平台商城系统，构建自己的网络商城</p>
                                <p class="msg">面向实体企业和传统电商，构建自己的多平台商城系统满足不同场景的交易需求，打造极致的下单体验解决企业在经营过程中与客户交易不便利的问题</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page2.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16760" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>

                <div class="page page3">
                    <div class="contain div3">
                        <div class="page3Factory">
                            <div class="Text">
                                <p class="title">营销：多种实用功能，让企业营销更简单</p>
                                <p class="msg">抢购、特价、优惠券、热卖都是非常有效的促销手段，积分商城、公告、优惠券等，促进会员更活跃</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page3.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16760" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>

                <div class="page page4">
                    <div class="contain div4">
                        <div class="page4Factory">
                            <div class="Text">
                                <p class="title">在线沟通</p>
                                <p class="msg">支持图片、文字、语音视频、位置、商品等互动，顾客通讯系统与商家建立更便捷的沟通桥梁，可以随时随地享受服务</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page4.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16760" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>
                <div class="page page5">
                    <div class="contain div5">
                        <div class="page5Factory">
                            <div class="Text">
                                <p class="title">管理：独立会员系统，高效管理客户</p>
                                <p class="msg">可以会员等级、积分、历史订单等，也可以进行会员验证设置，屏蔽会员、与会员直接通话等，让商家可以高效管理会员</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page5.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16760" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>
                <div class="page page6">
                    <div class="contain div6">
                        <div class="page6Factory">
                            <div class="Text">
                                <p class="title">屏蔽会员、与会员直接通话等，让商家可以高效管理会员</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page6.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16760" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="navBar" hidden>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <span class="start"><b></b></span> 
</div>

</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/fullPage.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/common.js"></script>

<!-- hjun 2017-06-18 18:32:30 配置放置在服务器完成 图标需要加上 http:// 也在服务器配置-->
<script>
    title = "全球采购·工厂版";
    desc = '全球采购·工厂版';
    imgUrl = 'http://file.duinin.com/data/upload/05586971913651322.png';
</script>
<include file="Public:share"/>