<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$CONFIG['APP_NAME']}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css?v={$V}">
</head>
<body class="operate-index-body">
<div class="operate-index">
  <div class="operate-head">
    <img src="/Public/Operate/images/index/logo.png" class="logo-img">
    <img src="/Public/Operate/images/index/index_title.png" class="index-title-img">
  </div>
  <div class="operate-plan">
    <div class="plan-title"><h2>选择您的方案</h2></div>
    <!--To C-->
    <div class="plan-C">
      <a class="plan-t">To C</a>
      <ul class="plan-list">
        <!--商铺版-->
        <li class="plan-sp" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'1\']))}'">
          <h3>{$CONFIG['LEVEL_1']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_1']['share_desc']}</p>
        </li>
        <!--分销版-->
        <li class="plan-fs" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'3\']))}'">
          <h3>{$CONFIG['LEVEL_3']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_3']['share_desc']}</p>
        </li>
        <!--企业版-->
        <li class="plan-qy" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'7\']))}'">
          <h3>{$CONFIG['LEVEL_7']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_7']['share_desc']}</p>
        </li>      
      </ul>
    </div>
    <!--To B-->
    <div class="plan-B">
      <a class="plan-t">To B</a>
      <ul class="plan-list">
        <!--批发版-->
        <li class="plan-gc" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'4\']))}'">
          <h3>{$CONFIG['LEVEL_4']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_4']['share_desc']}</p>
        </li>
        <!--工厂版-->
        <li class="plan-gc" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'5\']))}'">
          <h3>{$CONFIG['LEVEL_5']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_5']['share_desc']}</p>
        </li>
        <!--外贸版-->
        <li class="plan-gc" onclick="window.location.href='{:U(\'Openstore/package_info\',array(\'operate_sn\'=>$operate_sn,\'style\'=>$CONFIG[\'LEVEL\'][\'6\']))}'">
          <h3>{$CONFIG['LEVEL_6']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_6']['share_desc']}</p>
        </li>
      </ul> 
    </div>
    <!--直营+入驻-->
    <div class="plan-zy_rz">
      <a class="plan-t">直营+入驻</a>
      <ul class="plan-list">
        <!--平台-->
        <li class="plan-gc" onclick="window.location.href='{$CONFIG[\'LEVEL_2\'][\'link_url\']}'">
          <h3>{$CONFIG['LEVEL_2']['name']}</h3>
          <p class="lineTwo">{$CONFIG['LEVEL_2']['share_desc']}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="operate-foot">
    <!--<img src="/Public/Operate/images/index/more_point.png">-->
    <div>
      <p><?php if($operateinfo['operate_name']== '') { echo '微聚点（厦门）信息科技有限公司';} else{ echo $operateinfo['operate_name']; } ?></p>
      <p>
        <if condition="$operateinfo.link_tel eq ''">
          <a href="tel:0592-8988998" style="padding: 5px 0;">客服电话：0592-8988998</a>
        <else/>
          <a href="tel:0592-8988998" style="padding: 5px 0;">客服电话：{$operateinfo.link_tel}</a>
        </if>
       <!-- <a href="tel:0592-8988998" style="padding: 5px 0;">客服电话：<?php if($operateinfo['link_tel']== '') { echo '0592-8988998';} else{ echo $operateinfo['link_tel']; } ?></a>-->
        <a href="http://www.duinin.com" style="padding:5px 0 5px 4%;">网址：www.duinin.com</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>

<!-- hjun 2017-06-18 18:32:30 配置放置在服务器完成 图标需要加上 http:// 也在服务器配置-->
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<include file="Public:share"/>