
<!DOCTYPE html>
<html ng-app="xxapp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keyword" content="" /> 
    <meta name="description" content="" />
    <title>商家开户首页</title> 
    <link rel="stylesheet" href="__PUBLIC__/pc/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont/style.css" />
    <link rel="shortcut icon" href="__PUBLIC__/home/img/xunxinLogo.ico" />
    <!--该页面编辑的新样式-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/storeUpd.css">
</head>
<body ng-controller="ShowController"> 

<!--头部header star-->  
<div class="storeOpen_header">
    <img src="__PUBLIC__/home/img/logoWord.png">
</div> 
<!--头部header end-->
<div class="storeOpen_main backGroundImg2">
    <div class="formOpenStore">  
        <form id="submitData" action="{:U('OpenStore/store_apply')}"  method="post" >
            <h1>全球采购商家开户</h1>
            <div class="formDiv">
                <input class="inputFull" name="shopName" type="text" placeholder="请填入店铺名称">
            </div>
            <div class="formDiv selectType">
                <select name="store_parenttype_id" onChange="getItem()">
                    <option value="">选择大行业</option>
                    <volist name="commontype_parent" id="parent">
                    <option value="{$parent.id}">{$parent.store_type_name}</option>
					</volist>
                </select>
                <select name="store_childtype_id">
                    <option value="">选择子行业</option>
                </select>
            </div>
            <div class="formDiv package">
				<volist name="package_list" id="package" key="k">
					<div vip_data="{$package['up_level']}" onclick="choosePackage(this,{$package.packageid})" class="packageSelect   <?php if($k == 1) echo 'SelectOn';?>">
                    {$package['name']}{$currencySymbol}{$package.actual_price}
                    <!--<input type="radio" name="package_id" value="{$package['packageid']}" vip_data="{$package['up_level']}"  <?php if($k == 1) echo "checked='checked'";?> />-->
					</div>       
				</volist>
                <input name="package_id" value="{$package_list[0]['packageid']}" hidden>
            </div>
            <div class="formDiv selectAccount">
                <select name="xunxin_num" id="memberSelect">
                    <option value="">选择账号</option>
                    <foreach name="member_name_list" item="member_list">
						<option value="{$member_list['xunxin_num_name']}" >{$member_list['xunxin_num_name']}</option>
					</foreach> 
                </select>
                <input type="password" name="password" placeholder="请输入密码">
            </div>
            <div class="formDiv">
                <input class="inputFull" type="tel" name="account_membertel" placeholder="请输入手机号码">
            </div>  
            <div class="formDiv">
                <input type="text" class="inputLeft" name="imgCode" placeholder="请输入图形识别码">
                <img class="img_code inputRight" id="imgCode" alt="验证码" src="{:U('OpenStore/verify')}" title="点击刷新">
            </div> 
            <div class="formDiv">
                <input type="text" class="inputLeft" name="phone_code" placeholder="请输入手机验证码">
                <input class="inputRight" id="countNum" onclick="countDown()" value="获取验证码" type="button">
            </div>
            <div class="formDiv termsOfService">
                <input type="checkbox" checked>
                <span class="textGrey">我已同意全球采购服务调控</span>
            </div>
            <div class="formDiv">
                <input class="inputFull" type="button" onclick="submit_OpenStore()" value="确定开户">
            </div>
            <div class="formDiv" <if condition="$operate_sn neq ''"> style="display:none" </if>>
                <input class="inputFull" type="text" name="operate_sn" placeholder="业务编号：无可不填写" value="{$operate_sn}">
            </div>
        </form>

    </div>
</div>
<div class="storeOpen_footer">
    <p class="textGrey normalLine ctrAlign font-11">Copyright@ 2006-2016 happigo.All Right Reserved 免费服务热线：400-991-5998 E-mainl:weijudian@XX.com</p>
    <p class="textGrey normalLine ctrAlign font-11" >湘CP备12948958094352 视听网络节目许可证：XXXX</p>
</div>
<script src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>

<script src="__PUBLIC__/Operate/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/function_js.js"></script>


<script type="text/javascript"> 
var captcha_img = $('#imgCode') ;
var verifyimg = captcha_img.attr("src");
captcha_img.attr('title', '点击刷新');   
captcha_img.click(function(){  
	if( verifyimg.indexOf('?')>0){     
		$(this).attr("src", verifyimg+'&random='+Math.random());  
	}else{  
		$(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
	}  
}); 

    </script>   

<script type="text/javascript">
    //定义了分类的二维数组，里面的顺序跟外表的顺序是相同的。通过selectedIndex获得不同大类的下标值来得到相应的分类数组
    var item={$childs};
    function getItem(){
        //获得大类下拉框的对象
        var sltarea=document.getElementsByName('store_parenttype_id')[0];
        //获得小类下拉框的对象
        var sltItem=document.getElementsByName('store_childtype_id')[0];
        //得到对应大类的城市数组
        var areaItem=item[sltarea.selectedIndex - 1];
        //清空小类下拉框，仅留提示选项
        sltItem.length=1;
        //将小类数组中的值填充到城市下拉框中
        for(var i=0;i<areaItem.length;i++){
            //获得小类名称值areaItem[i][1]        //获得小类名称的下标areaItem[i][0]
            //如果都选值 sltItem[i+1]=new Option(areaItem[i][1],areaItem[i][1]);
            sltItem[i+1]=new Option(areaItem[i][1],areaItem[i][0]);
        }
    } 
</script>
<script>
    //点击选择套餐
	function choosePackage(_this,package_id){
		$('.package').find('.packageSelect').removeClass('SelectOn');
		$(_this).addClass('SelectOn');  
		//$('input[name="package_id"]').attr('checked',package_id);  			
		$(":radio[name=package_id]").attr('checked',package_id);	
		var vip = $(_this).attr('vip_data');  
		$('input[name="package_id"]').val(package_id); 
		var  url  = "{:U('OpenStore/ajax_get_memberlist')}";
		$.ajax({  
			type: "POST",
			url: url,  
			data: {vip:vip},    
			dataType: "json",
			success: function(data){  
				$("#memberSelect").empty();
				var length = data.length;  
				for(var i = 0 ; i < length ;i++){ 
					var name = data[i]['xunxin_num_name'];
					$("<option value='"+name+"'> "+ name+ "</option>").appendTo("#memberSelect");
				}        
			},    
			error:function(){
				alert('访问失败');     
			}  
		});    	
	}    
	
    
</script>	
<script>	
    //点击倒计时开始   
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    function countDown() {
		var phone=$('input[name="account_membertel"]').val();
        var dt=window.phoneCheck(phone);
        if(dt!==0){
			$.ajax({			 
				url:"{:U('OpenStore/ajax_sendSMS')}",  	
				type:'POST',    
				data:{tel:phone},
				dataType:'JSON',  
				async : false, //默认为true 异步   
				error:function(XMLHttpRequest, textStatus, errorThrown){ 
					layer.msg('短信请求失败',{icon:2,time:1000});	
				},    
				success:function(data){
					if(data.result == 0){ 
						curCount = count;
						//设置button效果，开始计时
						$('#countNum').attr("disabled", "true");
						InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
					}else{ 
						layer.msg(data.error,{icon:2,time:1000});	
					}
				}
			}); 
		
		}
        
    }
	
	//time处理函数
    function SetRemainTime() {
        if (curCount == 0 ){
            window.clearInterval(InterValObj);//停止计时器
            $('#countNum').removeAttr("disabled");//启用按钮
            $('#countNum').val("点击重新发送");
            $('#countNum').css('background-color','#E36F6F')
        }
        else {    
            curCount--;
            $('#countNum').css('background-color','#D7D7D7')
            $('#countNum').val(curCount + "秒后重新发送");
        }
    }
	
    //form表单验证
    function submit_OpenStore(obj) { 
        var shopName=$('input[name="shopName"]').val();
		var store_parenttype_id  = $("select[name=store_parenttype_id] option:selected").val();
		var store_childtype_id  = $("select[name=store_childtype_id] option:selected").val();
		var package_id  = $('input:radio[name="package_id"][checked]').val();
		var xunxin_num  = $("select[name=xunxin_num] option:selected").val();
        var password=$('input[name="password"]').val();
        var phone=$('input[name="account_membertel"]').val();
        var code=$('input[name="phone_code"]').val();
        var imgCode=$('input[name="imgCode"]').val();
		var  url  = "{:U('OpenStore/check_verify')}";
		$.ajax({  
			type: "GET",    
			url: url,   
			data: "imgCode="+imgCode,   
			dataType: "text",
			success: function(data){   
				if(data == -1){
					layer.msg('图形识别码错误',{icon:2,time:1000});	
				}else{ 
					if(shopName == ''){   
						layer.msg('店铺名称不能为空',{icon:2,time:1000});
						return false;
					}else if(store_parenttype_id == '' || store_childtype_id == ''){
						layer.msg('店铺行业必须选择!',{icon:2,time:1000});
						return false;
					}else if(package_id == '' ){ 
						layer.msg('套餐必须选择!',{icon:2,time:1000});
						return false;
					}else if(xunxin_num == ''){
						layer.msg('商户账号必须选择!',{icon:2,time:1000});
						return false;
					}else if(phoneCheck(phone)==0||passwordCheck(password)==0){
						return false;
					}else if(code == ''){
						layer.msg('验证码不能为空!',{icon:2,time:1000});
						return false;
					}else{
						var  url  = "{:U('OpenStore/ajax_checkcode')}";
						$.ajax({  
							type: "POST",
							url: url, 
							data: {tel:phone,code,code},   
							dataType: "json",
							success: function(data){    
								if(data.result == 0){
									$("#submitData").submit();
								}else{ 
									layer.msg(data.error,{icon:2,time:1000});	
								}
								 
							},    
							error:function(){
								layer.msg('访问失败!',{icon:2,time:1000});
							}  
						}); 
					} 
				}
				    
			},    
			error:function(){
				layer.msg('访问失败!',{icon:2,time:1000});
			}  
		});
		
		return false;  
		
		
    }
</script>
</body>
</html>
