
<!DOCTYPE html>
<html ng-app="xxapp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keyword" content="" />
    <meta name="description" content="" />
    <title>商家开户首页</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont/style.css" />
    <link rel="shortcut icon" href="__PUBLIC__/pc/imgs/xunxinLogo.ico" />
    <!--该页面编辑的新样式-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/storeUpd.css">
</head>
<body ng-controller="ShowController" onload="createCode()">
<!--二维码-->
<script>
    issign = "{$sign.issign}";
    sign_day = "{$sign.sign_day}";
    sign_type = "{$sign.sign_type}";
    se = '{$se}';
    f = '{$f}';
    islogin = '{$islogin}';
    bindtel = '{$userinfo.bindtel}';
    channel_id = "{$channel_id}";
    PASSWORD = "{$userinfo.member_passwd}";
    xxapi = "{$xxapi}";
    longitude = "{$longitude}";
    latitude = "{$latitude}";
    history_page = 2;
    history_tip = 1;
    near_page = 2;
    near_tip = 1;
    search_page = 1;
    search_tip = 1;
    member_balance = "{$store.member_balance}";
    member_discount = "<?php echo session('discount'); ?>";
    address_id = "{$default_add.address_id}";
    amount = "{$goods_count}";
    default_add = {
        member_name: '{$default_add.member_name}',
        member_tel: '{$default_add.member_tel}',
        province: '{$default_add.province}',
        city: '{$default_add.city}',
        area: '{$default_add.area}',
        address: '{$default_add.address}'
    };
</script>
<!--头部header star-->
<header class="topbar shoptopbar" role="navigation">
    <div class="container">
        <span class="welecomeTitle">欢迎光临迅信</span>
        <if condition="$islogin eq 0">
            <!--未登录-->
            <a href="{:U('Member/showlogin',array('se'=>$se))}" class="textBlack">
                登录<em>&nbsp;|&nbsp;</em>免费注册
            </a>
            <else/>
            <!--已登录-->
            <a href="{:U('Member/outlogin',array('se'=>$se))}" class="user-nick textBlack">
                vx-1348<em id="push_off">[退出]</em>
            </a>
        </if>
        <nav class="topbar-nav">
            <a href="{:U('Order/orderList',array('se'=>$se))}" class=""><i class="icon-order-center" aria-hidden="true"></i>订单中心</a>
            <a  class="" ng-mouseenter="mbshow()" ng-mouseleave="mbhide()"><i class="icon-mobile-port"></i>手机客户端</a>
            <div class="dropbox topbar-mobile-dropbox" id="dropbox-mobile"  style="left: 130px;" ng-show='mbState.show' ng-cloak>
                <span>手机扫码二维码登录</span>
                <div class="topbar-nav-qrcode" id="moutput">
                    <div class="im">
                        <input id='mobileinfo' value="{$mobileurl}" type='hidden' style="width:600px"></div>
                </div>
                <img src="__PUBLIC__/pc/imgs/xunxinLogo.png" class="topbar-shop-logo"/>
            </div>
            <div class="top-bar-link" id="mouseover_qr" ng-mouseenter="qrshow()" ng-mouseleave="qrhide()"><i class="icon-focus-on-wechart"></i>关注公众号
                <div class="dropbox topbar-mobile-dropbox" id="dropbox-qr" ng-show='qrState.show' ng-cloak>
                    <span>扫一扫，关注公众号</span>
                    <div class="topbar-nav-qrcode" id="output">
                        <div class="im"><input id='payinfo' value="{$storecode}" type='hidden' style="width:600px"></div>
                    </div>
                    <img src="__PUBLIC__/pc/imgs/xunxinLogo.png" class="topbar-shop-logo"/>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--头部header end-->
<div class="storeOpen_main backGroundImg1 ctrAlign">
    <div class="advertisingWords">
        <img src="__PUBLIC__/home/img/advertisingWords.png">
    </div>
    <div class="invitationInput">
        <form action="" method="post">
            <span class="msg">商家邀请号</span>
            <input type="text" placeholder="请输入商家邀请号">
            <button>立即申请</button>
        </form>
    </div>
</div>
<div class="storeOpen_footer">
    <p class="textGrey normalLine ctrAlign font-11">Copyright@ 2006-2016 happigo.All Right Reserved 免费服务热线：400-991-5998 E-mainl:weijudian@XX.com</p>
    <p class="textGrey normalLine ctrAlign font-11" >湘CP备12948958094352 视听网络节目许可证：XXXX</p>
</div>
<script src="__PUBLIC__/pc/js/jquery-2.1.3.js"></script>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="__PUBLIC__/pc/js/jquery.qrcode.min.js"><!--二维码--></script>
<script src="__PUBLIC__/pc/js/common.js"></script>
<script>
    jQuery(function (){
        var payinfo =document.getElementById("payinfo").value;
        jQuery('#output').qrcode(payinfo);  /*二维码*/
        var mobileinfo =document.getElementById("mobileinfo").value;
        jQuery('#moutput').qrcode(mobileinfo);  /*二维码*/
    });
</script>    
  
</body>
</html>
