<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--工厂-->
  <title>{$TITLE}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
        content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/wap2/css/common/public.css?v={$V}">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/operateWap.css?v={$V}">
</head>
<!--[if lte IE 7]>
<body scroll="no">
<![endif]-->
<!--[if gt IE 7]><!-->
<body>
<!--<![endif]-->
<div id="article">
  <div class="page current">
    <div class="contain">
      <div id="pageContain" class="package-factory">
        <!--第1页 总-->
        <div class="page page1 current">
          <div class="contain">
            <!--page内容 start-->
            <div class="package-title">
              <img src="/Public/Operate/images/package_factory/page1_title.png">
            </div>
            <div class="package-desc">
              <p>快速开展自己的线上电商业务，打通招商和零</p>
              <p>售两个关键环节，全面布局线上营销，帮</p>
              <p>助工厂实现自动化生产</p>
            </div>
            <div class="package-mox">
              <img src="/Public/Operate/images/package_mox/zong_1.png">
              <img src="/Public/Operate/images/package_mox/zong_2.png">
              <img src="/Public/Operate/images/package_mox/zong_3.png">
            </div>
            <div class="page-price">
              <h1 class="price-title"></h1>
              <p class="price-money"><img src="/Public/Operate/images/package_factory/page1_price.png">
                <img src="/Public/Operate/images/package_factory/page1_price_unit.png"></p>
              <p class="price-cost">原价:65800元</p>
              <a class="btn-default"
                 href="{:U('openstore/seller_open_account',array('style'=>3,'operate_sn'=>$operate_sn))}">立即开店</a>
            </div>
            <!--page内容 end-->
          </div>
        </div>

        <!--第2页 我们是谁-->
       <!-- <div class="page page2" style="display: none;">
          <div class="contain contain-t90">
            <h1 class="title1">我们是谁?</h1>
            <p>
              微聚点成立于2013年，是国家高新认证的互联网科技企业,国内领先的信息与通信云服务提供商，旗下产品全球采购商城致力于为企业提供全网一体化的商城解决方案，是一款独立经营、可个性界面、可无限扩展的企业级SaaS商城系统，经过５年多的发展和不断的改进，始终坚持以技术为核心，只为给客户提供最好的技术跟服务。</p>
            <div class="bottom-div circle">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>-->

        <!--第3页 商铺首页-->
        <div class="page page3">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1">商铺首页</h1>
              <h2 class="title2">优秀的界面设计提升品牌形象</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_mox/spsy.png"/></p>
            </div>
            <div class="bottom-div circle">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第4页 商铺分类-->
        <div class="page page4">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1 text-white">分类页</h1>
              <h2 class="title2 text-white">产品分类清晰，找货更方便</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_factory/page4_mox.png"/></p>
            </div>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第5页 价格隐藏-->
        <div class="page page5">
          <div class="contain text-img-div contain-t55">
            <div class="div-text">
              <span>非会员价格开关，避免同行询价</span>
              <h1>价格隐藏</h1>
            </div>
            <img src="/Public/Operate/images/package_mox/jgyc.png" class="div-img">
          </div>
          <div class="bottom-div">
            <a class="btn-default" href="{$LINK}">产品体验</a>
          </div>
        </div>

        <!--第6页 合作代理-->
        <div class="page page6">
          <div class="contain img-text-div contain-t55">
            <div class="div-img"><img src="/Public/Operate/images/package_mox/sphy_1.png"></div>
            <div class="div-text">
              <h1>不同合作级别享受不同订货价格</h1>
              <h1>合作代理</h1>
            </div>
          </div>
          <div class="bottom-div">
            <a class="btn-default" href="{$LINK}">产品体验</a>
          </div>
        </div>

        <!--第7页 厂家联盟-->
        <div class="page page7">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1 text-white">厂家联盟</h1>
              <h2 class="title2 text-white">组建厂家联盟,客户资源倍增</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_factory/page7_mox.png"/></p>
            </div>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第8页 产品联盟-->
        <div class="page page8">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1 text-white">产品联盟</h1>
              <h2 class="title2 text-white">组建供货联盟,产品资源倍增</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_mox/spfl.png"/></p>
            </div>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第9页 直播-->
        <div class="page page9">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1">直播</h1>
              <h2 class="title2">品牌直播,轻松实现线上招商</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_mox/zb.png"/></p>
            </div>
            <div class="bottom-div circle">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第10页 管理端首页-->
        <div class="page page10">
          <div class="contain contain-t42">
            <h1 class="title1 text-white">PC + APP管理端首页</h1>
            <h2 class="title2 text-white">多端管理、数据同步</h2>
            <p class="gldsy-img"><img src="/Public/Operate/images/package_mox/gldsy_1.png"/></p>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第11页 手机管理订单-->
        <div class="page page11">
          <div class="contain text-img-div contain-t55">
            <div class="div-text">
              <span>无需电脑，随时处理</span>
              <h1>手机管理订单</h1>
            </div>
            <img src="/Public/Operate/images/package_mox/sjgldd.png" class="div-img">
          </div>
          <div class="bottom-div">
            <a class="btn-default" href="{$LINK}">产品体验</a>
          </div>
        </div>

        <!--第12页 手机管理会员-->
        <div class="page page12">
          <div class="contain">
            <div class="top-div">
              <h1 class="title1">手机管理会员</h1>
              <h2 class="title2">即时沟通，随时互动</h2>
              <p class="top-img"><img src="/Public/Operate/images/package_mox/sjglhy.png"/></p>
            </div>
            <div class="bottom-div circle">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第13页 一键导入-->
        <div class="page page13">
          <div class="contain contain-t42 yjdr-pc">
            <h1 class="title1 text-white">一键导入</h1>
            <h2 class="title2 text-white">商品一键导入，图片一键采集</h2>
            <p class="gldsy-img"><img src="/Public/Operate/images/package_mox/yjdr_pc1.png"></p>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第14页 订单打印-->
        <div class="page page14">
          <div class="contain dddy-pc contain-t42">
            <h1 class="title1 text-white">订单打印</h1>
            <h2 class="title2 text-white">多分仓管理，系统自动拆单打印</h2>
            <p class="gldsy-img shadow-grey"><img src="/Public/Operate/images/package_mox/dddy_pc1.png"></p>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第15页 消息推送-->
        <div class="page page14">
          <div class="contain text-img-div contain-t55">
            <div class="div-text">
              <span>促销优惠，实时到达</span>
              <h1>消息推送</h1>
            </div>
            <img src="/Public/Operate/images/package_mox/xxts.png" class="div-img">
          </div>
          <div class="bottom-div">
            <a class="btn-default" href="{$LINK}">产品体验</a>
          </div>
        </div>

        <!--第16页 数据分析-->
        <div class="page page16">
          <div class="contain contain-t42">
            <h1 class="title1 text-white">数据分析</h1>
            <h2 class="title2 text-white">强大的数据分析系统</h2>
            <p class="gldsy-img"><img src="/Public/Operate/images/package_mox/sjfx.png"/></p>
            <div class="bottom-div">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第17页 功能集合-->
        <div class="page page17">
          <div class="contain contain-t90">
            <h1 class="title3">我们的产品功能</h1>
            <div class="fun-div">
              <a><span>精美版面</span></a>
              <a><span>订货商城</span></a>
              <a><span>商家管理</span></a>
              <a><span>门店管理</span></a>
              <a><span>会员管理</span></a>
              <a><span>代理商管理</span></a>
              <a><span>商品管理</span></a>
              <a><span>团购管理</span></a>
              <a><span>订单管理</span></a>
              <a><span>资金管理</span></a>
              <a><span>表单管理</span></a>
              <a><span>发现管理</span></a>
              <a><span>公告管理</span></a>
              <a><span>专题管理</span></a>
              <a><span>活动管理</span></a>
              <a><span>营销管理</span></a>
              <a><span>虚拟卡管理</span></a>
              <a><span>推送管理</span></a>
              <a><span>数据分析</span></a>
              <a><span style="letter-spacing: 3px;">•••</span></a>
            </div>
            <div class="bottom-div shadow">
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

        <!--第18页 售后服务-->
        <div class="page page18">
          <div class="contain contain-t90">
            <h1 class="title3">售后服务</h1>
            <ul class="shfw-div">
              <li>１对1专属顾问进行专业运营培训。</li>
              <li>１对1专属客服，支持在线提交问题，QQ远程，电话沟通协助。</li>
              <li>提供完善的帮助文档；</li>
              <li>工程师7*24小时值守；</li>
              <li>使用期限内免费修复BUG，抗木马病毒攻击；</li>
              <li>功能持续更新；</li>
            </ul>
            <div class="bottom-div shadow">
              <p>套餐价格包含微信、APP、WAP、PC</p>
              <a class="btn-default" href="{$LINK}">产品体验</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <ul id="navBar" hidden>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
    </ul>
  </div>
  <span class="start"><b></b></span>
</div>

</body>
</html>
<script>var packageType = 'factory'</script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/fullPage.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/common.js?v={$V}"></script>
<include file="Public:share"/>
