<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>全球采购.微商版</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
        content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/wap2/css/common/public.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/operateWap.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/wechatBusiness.css">
</head>
<!--[if lte IE 7]>
<body scroll="no">
<![endif]-->
<!--[if gt IE 7]><!-->
<body>
<!--<![endif]-->
<div id="article">
  <div class="page current">
    <div class="contain">
      <div id="pageContain">
        <!--第一页-->
        <div class="page current">
          <div class="contain">
            <!--page内容-->
            <div class="page1Img">
              <div class="Text">
                <p class="title textAlign_c">全球采购.微商版</p>
                <p class="msg">向企业打造面向消费者的微商服务，多种营销功能，让企业轻松实现互联网+独立会员系统，让企业真正拥有属于自己的平台完善的企业电商技术解决方案，助力企业开启新零售！</p>
              </div>
            </div>

            <div class="Price">
              <p class="yuanPrice">原价{$currencySymbol}
                <del>9000</del>
              </p>
              <p class="yh">
                <span class="yhText">优惠价</span>
                <span class="yhP">
                                      <sup>{$currencySymbol}</sup>
                                      <span class="yhPrice">4500</span>
                                  </span>
              </p>
            </div>
            <a href="{:U('openstore/seller_open_account',array('style'=>1,'operate_sn'=>$operate_sn))}"
               class="buttonRed button">立即开店</a>
          </div>
        </div>

        <div class="page">
          <div class="contain">
            <div class="page2WechatBusiness">
              <div class="Text">
                <p class="title">强大的多平台商城系统，构建自己的网络商城</p>
                <p class="msg">面向实体企业和传统电商，构建自己的多平台商城系统满足不同场景的交易需求，打造极致的下单体验解决企业在经营过程中与客户交易不便利的问题</p>
              </div>
              <img src="__PUBLIC__/Operate/images/page2.png" class="pageImg">
              <a href="http://m.duinin.com/index.php?se=16756" class="button butttonWhite">产品体验</a>
            </div>
          </div>
        </div>

        <div class="page">
          <div class="contain">
            <div class="page3WechatBusiness">
              <div class="Text">
                <p class="title">营销：多种实用功能，让企业营销更简单</p>
                <p class="msg">抢购、特价、优惠券、热卖都是非常有效的促销手段，积分商城、公告、优惠券等，促进会员更活跃</p>
              </div>
              <img src="__PUBLIC__/Operate/images/page3.png" class="pageImg">
              <a href="http://m.duinin.com/index.php?se=16756" class="button butttonWhite">产品体验</a>
            </div>
          </div>
        </div>

        <div class="page">
          <div class="contain">
            <div class="page4WechatBusiness">
              <div class="Text">
                <p class="title">管理：独立会员系统，高效管理客户</p>
                <p class="msg">可以会员等级、积分、历史订单等，也可以进行会员验证设置，屏蔽会员、与会员直接通话等，让商家可以高效管理会员</p>
              </div>
              <img src="__PUBLIC__/Operate/images/page5.png" class="pageImg">
              <a href="http://m.duinin.com/index.php?se=16756" class="button butttonWhite">产品体验</a>
            </div>
          </div>
        </div>
        <div class="page">
          <div class="contain">
            <div class="page5WechatBusiness">
              <div class="Text">
                <p class="title">支付：多种支付方式，满足不同场景需求</p>
                <p class="msg">可以通过货到付款、在线支付等功能完成线上订单，也可以通过线上面对面支付的方式直接完成付款并与线上会员打通</p>
              </div>
              <img src="__PUBLIC__/Operate/images/page13.png" class="pageImg">
              <a href="http://m.duinin.com/index.php?se=16756" class="button butttonWhite">产品体验</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul id="navBar" hidden>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>
  <span class="start"><b></b></span>
</div>

</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/fullPage.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/common.js?v={$V}"></script>

<!-- hjun 2017-06-18 18:32:30 配置放置在服务器完成 图标需要加上 http:// 也在服务器配置-->
<script>
  title = "全球采购·微商版";
  desc = "企业自建B2C系统，解决线上销售问题";
  imgUrl = "http://file.duinin.com/data/upload/05586975523805070.png";
</script>
<include file="Public:share"/>
