<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球采购.批发版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/wholesale.css">
</head>
<!--[if lte IE 7]> 
<body scroll="no">
<![endif]-->
<!--[if gt IE 7]><!-->
<body>
<!--<![endif]-->
<div id="article">
    <div class="page section1 current">
        <div class="contain">
            <div id="pageContain">
                <div class="page page1 current">
                    <div class="contain div1">
                        <!--page内容-->
                        <div class="page1Wholesale">
                            <div class="page1Img">
                                <div class="Text">
                                    <p class="title textAlign_c">全球采购.批发版</p>
                                    <p class="msg textAlign_c">打造每个企业专属独立的批发商城</p>
                                    <ul class="flower">
                                        <li>
                                            <a class="a1">
                                                <p>专属独立</p>
                                                <p>自主管理</p>
                                                <p>会员独立</p>
                                                <p>保护客户隐私</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="a2">
                                                <p>极致体验</p>
                                                <p>极致订货流程</p>
                                                <p>体验行业领先</p>
                                            </a></li>
                                        <li>
                                            <a class="a3">
                                                <p>多平台解决方案</p>
                                                <p>PC端、微信端</p>
                                                <p>APP端三网同步</p>
                                                <p>满足不同客户需求</p>
                                            </a></li>
                                        <li>
                                            <a class="a4">
                                                <p>链接产生新价值</p>
                                                <p>商家可以联盟</p>
                                                <p>会员共享</p>
                                                <p>创造新价值</p>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="Price">
                                <p class="yuanPrice">原价{$currencySymbol}<del>12800</del></p>
                                <p class="yh">
                                    <span class="yhText">优惠价</span>
                                    <span class="yhP">
                                        <sup>{$currencySymbol}</sup>
                                        <span class="yhPrice">5800</span>
                                    </span> 
                                </p> 
                            </div>
                            <a href="{:U('openstore/seller_open_account',array('style'=>2,'operate_sn'=>$operate_sn))}" class="buttonRed button">立即开店</a>
                        </div>
                    </div>
                </div>

                <div class="page page2">
                    <div class="contain div2">
                        <div class="page2Wholesale">
                            <div class="Text">
                                <p class="title">强大的多平台商城系统，构建自己的网络商城</p>
                                <p class="msg">面向实体企业和传统电商，构建自己的多平台商城系统满足不同场景的交易需求，打造极致的下单体验解决企业在经营过程中与客户交易不便利的问题</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page2.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16759" class="button butttonWhite">产品体验</a>
                        </div>
                    </div> 
                </div>

                <div class="page page3">
                    <div class="contain div3">
                        <div class="page3Wholesale">
                            <div class="page2Img">
                                <div class="Text">
                                    <p class="title">分组管理代理商</p>
                                    <p class="msg">不同等级代理商，享受不同等级折扣价格，提高效率</p>
                                </div>
                            </div>
                             <a href="http://m.duinin.com/index.php?se=16759" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>

                <div class="page page4">
                    <div class="contain div4">
                        <div class="page4Wholesale">
                            <div class="Text">
                                <p class="title">在线沟通</p>
                                <p class="msg">支持图片、文字、语音视频、位置、商品等互动，顾客通讯系统与商家建立更便捷的沟通桥梁，可以随时随地享受服务</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page4.png" class="pageImg">
                             <a href="http://m.duinin.com/index.php?se=16759" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>
                <div class="page page5">
                    <div class="contain div5">
                        <div class="page5Wholesale">
                            <div class="Text">
                                <p class="title">商家联盟</p>
                                <p class="msg">可以与不同商家联盟，实现会员共享，产生更大价值</p>
                            </div>
                            <img src="__PUBLIC__/Operate/images/page11.png" class="pageImg">
                            <a href="http://m.duinin.com/index.php?se=16759" class="button butttonWhite">产品体验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="navBar" hidden>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <span class="start"><b></b></span>
</div>

</div>
</body>
</html> 
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/fullPage.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/common.js"></script>

<!-- hjun 2017-06-18 18:32:30 配置放置在服务器完成 图标需要加上 http:// 也在服务器配置-->
<script>
    title = "全球采购·批发版";
    desc = "企业自建线上供货系统，解决产品信息不对称问题";
    imgUrl = "http://file.duinin.com/data/upload/05586974861909192.png";
</script>
<include file="Public:share"/>
