<include file="Public/meta" />
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header diy-header">
    <div class="admin-title">
      <div class="logo"><img src="__PUBLIC__/admin/images/common/logo.png" /></div>
      <div class="title-box">
        <h4>门店卡券管理系统</h4>
        <div class="admin-content">
          <ul class="layui-nav">
            <li class="layui-nav-item">
              <a href="javascript:;">admin</a>
              <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="logout()"><i class="myicon-logout"></i>退出登录</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="diy-slide_left"></div>
      </div>
    </div>
  </div>
  <div class="layui-side diy-side">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="side">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="javascript:;" href="javascript:;" style="display: none">
            <cite>一级菜单</cite>
          </a>
          <dl class="layui-nav-child">
            <dd class="layui-this">
              <a href="javascript:;" _href="/admin.php?m=Admin&c=System&a=index">
                <cite>系统配置</cite>
              </a>
            </dd>
            <dd style="display: none">
              <a href="javascript:;" _href="/admin.php?m=Admin&c=Coupon&a=index">
                <cite>优惠券绑定</cite>
              </a>
            </dd>
          </dl>
        </li>
      </ul>
    </div>

  </div>
  <div class="layui-tab layui-tab-card diy-main" lay-filter="diy-tab" lay-allowclose="true">
    <ul class="layui-tab-title">
      <li class="layui-this">
        系统配置
        <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
      </li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <iframe frameborder="0" src="/admin.php?m=Admin&c=System&a=index" class="diy-iframe"></iframe>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  // 退出
  function logout(){
    layer.confirm('', {
      title: '确定要退出吗？',
      skin: 'layer-skin'
    }, function(){
      $.get('admin.php?m=Admin&c=Auth&a=logout',function(res){
        console.log(res)
        if(res.code === 200){
          layer.msg(res.msg,{'icon':1});
          setTimeout(function()
          {
            window.location.href = 'admin.php?m=Admin&c=Auth&a=login';
            window.history.go(0);
          },1000);
        }else{
          layer.msg(res.msg,{'icon':2});
        }
      },'json');
    });
  }
</script>
