<script src="http://dev.duinin.com/Public/media/js/jquery-2.1.3.min.js?version={$v}"></script>
<script src="http://dev.duinin.com/Public/common/js/plug-in/vue-2.x/vue.js?version={$v}"></script>
<script src="__ROOT__/Public/common/plug-in/element-ui/2.4.3/lib/index.js?version={$v}"></script>
<script src="__ROOT__/Public/common/plug-in/layer-v3.1.1/layer.js"></script>
<script src="__ROOT__/Public/common/plug-in/swiper-v4/js/swiper.min.js"></script>
<script src="__ROOT__/Public/common/plug-in/viewer-v1/js/viewer.js"></script>
<script src="__ROOT__/Public/common/js/publicObj.js?version={$v}"></script>