<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>门店系统</title>
  <link rel="stylesheet" href="__ROOT__/Public/common/icon/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="__ROOT__/Public/common/plug-in/element-ui/2.4.3/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="__ROOT__/Public/common/plug-in/swiper-v4/css/swiper.min.css">
  <link rel="stylesheet" href="__ROOT__/Public/common/plug-in/viewer-v1/css/viewer.css">
  <link rel="stylesheet" href="__ROOT__/Public/common/css/reset.css">
  <link rel="stylesheet" href="__ROOT__/Public/admin/css/common.css?version={$v}">
</head>
</html>
