<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--企业-->
  <title>{$TITLE}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
        content="fullPage:For desktop(ie5.5+) or mobile webApp without jQuery,create full screen pages fast and simple.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/wap2/css/common/public.css?v={$V}">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/operateWap2.css?v={$V}">
</head>
<body>
<div class="package" id="package-business">
  <div>
    <!--第1页 总-->
    <div class="page page-index">
      <div class="contain">
        <!--page内容 start-->
        <div class="package-title">
          <img src="/Public/Operate/images/package_business/page1_title.png">
        </div>
        <div class="package-desc">
          <p>为零售连锁量身定做的电商系统服务，能全</p>
          <p>面覆盖线上电商、线下实体多店销售模式，</p>
          <p>帮助企业实现自动化管理</p>
        </div>
        <div class="package-mox">
          <img src="/Public/Operate/images/package_mox/zong_1.png">
          <img src="/Public/Operate/images/package_business/mox_index2.png">
          <img src="/Public/Operate/images/package_business/mox_index3.png">
        </div>
        <div class="page-price">
          <h1 class="price-title"></h1>
          <p class="price-money">
            <img src="/Public/Operate/images/package_business/page1_price.png">
            <img src="/Public/Operate/images/package_business/page1_price_unit.png">
          </p>
          <p class="price-cost">原价:39600元</p>
          <div class="btn-default">
            <a href="tel:{$TEL}">客服</a>
            <a href="{:U('openstore/seller_open_account',array('style'=>6,'operate_sn'=>$operate_sn))}">立即开店</a>
            <a href="{$LINK}">体验</a>
          </div>
        </div>
        <div class="start"></div>
        <!--page内容 end-->
      </div>
    </div>

    <!--第3页 商铺首页-->
    <div class="page page-spsy">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1">商铺首页</h1>
          <h2 class="title2">可视化编辑，页面装修随心DIY</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow" src="/Public/Operate/images/package_business/mox_spsy.png"/>
          <div class="img-shadow qian"></div>
        </div>
      </div>
    </div>

    <!--第4页 限时抢购-->
    <div class="page page-xsqg">
      <div class="contain l_text-r_img">
        <div class="div-text">
          <span>秒杀、抢购引爆商城人气</span>
          <h1>限时抢购</h1>
        </div>
        <img src="/Public/Operate/images/package_mox/xsqg.png" class="div-img box-shadow_shen">
      </div>
    </div>

    <!--第5页 团购详情页-->
    <div class="page page-tgxqy">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1 text-white">团购详情页</h1>
          <h2 class="title2 text-white">自动组团，凑够人数自动成团</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow img-bg" src="/Public/Operate/images/package_v2/business/mox_tgxq1.png"/>
          <img class="img-after" src="/Public/Operate/images/package_mox/tgxq_2.png"/>
        </div>
      </div>
    </div>

    <!--第6页 门店自提-->
    <div class="page page-mdzt">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1">门店自提</h1>
          <h2 class="title2">门店连锁，自动派单</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow" src="/Public/Operate/images/package_mox/mdzt.png"/>
          <div class="img-shadow qian"></div>
        </div>
      </div>
    </div>

    <!--第7页 服务预约-->
    <div class="page page-fwyy">
      <div class="contain l_img-r_text">
        <div class="div-img"><img src="/Public/Operate/images/package_mox/fwyy.png" class="box-shadow"></div>
        <div class="div-text">
          <h1>轻松实现服务升级，解决社区痛点</h1>
          <h1>服务预约</h1>
        </div>
      </div>
    </div>

    <!--第8页 活动抽奖-->
    <div class="page page-hdcj">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1 text-white">活动抽奖</h1>
          <h2 class="title2 text-white">吸粉引流、刺激客户直接消费</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow" src="/Public/Operate/images/package_mox/hdcj.png"/>
          <div class="img-shadow shen"></div>
        </div>
      </div>
    </div>

    <!--第9页 直播-->
    <div class="page page-zb">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1">直播</h1>
          <h2 class="title2">品牌直播购边看边买很轻松</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow" src="/Public/Operate/images/package_mox/zb.png"/>
          <div class="img-shadow qian"></div>
        </div>
      </div>
    </div>


    <!--第10页 管理端首页-->
    <div class="page page-gldsy">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1 text-white">PC + APP管理端首页</h1>
          <h2 class="title2 text-white">多端管理、数据同步</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow img-bg" src="/Public/Operate/images/package_mox/gldsy_1.png"/>
          <img class="img-after" src="/Public/Operate/images/package_mox/gldsy_2.png"/>
        </div>
      </div>
    </div>

    <!--第11页 手机管理订单-->
    <div class="page page-sjgldd">
      <div class="contain l_text-r_img">
        <div class="div-text">
          <span>无需电脑，随时处理</span>
          <h1>手机管理订单</h1>
        </div>
        <img src="/Public/Operate/images/package_mox/sjgldd.png" class="div-img">
      </div>
    </div>

    <!--第12页 手机管理会员-->
    <div class="page page-sjglhy">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1">手机管理会员</h1>
          <h2 class="title2">即时沟通，随时互动</h2>
        </div>
        <div class="div-img">
          <img class="box-shadow" src="/Public/Operate/images/package_mox/sjglhy.png"/>
          <div class="img-shadow qian"></div>
        </div>
      </div>
    </div>

    <!--第13页 消息推送-->
    <div class="page page-xxts">
      <div class="contain l_text-r_img">
        <div class="div-text">
          <span>促销优惠，实时到达</span>
          <h1>消息推送</h1>
        </div>
        <img src="/Public/Operate/images/package_mox/xxts.png" class="div-img">
      </div>
    </div>

    <!--第14页 数据分析-->
    <div class="page page-sjfx">
      <div class="contain t_text-b_img">
        <div class="div-text">
          <h1 class="title1 text-white">数据分析</h1>
          <h2 class="title2 text-white">强大的数据分析系统</h2>
        </div>
        <div class="div-img"><img class="box-shadow img-bg" src="/Public/Operate/images/package_mox/sjfx.png"/></div>
      </div>
    </div>

    <!--第15页 功能集合-->
    <div class="page page-gnjh">
      <div class="contain">
        <h1 class="title3">我们的产品功能</h1>
        <div class="fun-div">
          <a><span>精美版面</span></a>
          <a><span>购物商城</span></a>
          <a><span>商家管理</span></a>
          <a><span>门店管理</span></a>
          <a><span>会员管理</span></a>
          <a><span>商品管理</span></a>
          <a><span>团购管理</span></a>
          <a><span>订单管理</span></a>
          <a><span>资金管理</span></a>
          <a><span>表单管理</span></a>
          <a><span>发现管理</span></a>
          <a><span>公告管理</span></a>
          <a><span>礼品管理</span></a>
          <a><span>专题管理</span></a>
          <a><span>活动管理</span></a>
          <a><span>营销管理</span></a>
          <a><span>虚拟卡管理</span></a>
          <a><span>推送管理</span></a>
          <a><span>数据分析</span></a>
          <a><span style="letter-spacing: 3px;">•••</span></a>
        </div>
      </div>
    </div>

    <!--第16页 售后服务-->
    <div class="page page-shfw">
      <div class="contain">
        <h1 class="title3">售后服务</h1>
        <ul class="shfw-div">
          <li>１对1专属顾问进行专业运营培训。</li>
          <li>１对1专属客服，支持在线提交问题，QQ远程，电话沟通协助。</li>
          <li>提供完善的帮助文档；</li>
          <li>工程师7*24小时值守；</li>
          <li>使用期限内免费修复BUG，抗木马病毒攻击；</li>
          <li>功能持续更新；</li>
        </ul>
      </div>
    </div>
    <!--第17页 产品规格-->
    <div class="page page-cpgg">
      <div class="contain">
        <h1 class="title3">产品规格</h1>
        <div class="gg-table">
          <dl>
            <dt>套餐内容</dt>
            <dd>微信、WAP、APP、PC、小程序</dd>
          </dl>
          <dl>
            <dt>会员容量</dt>
            <dd>50000人</dd>
          </dl>
          <dl>
            <dt>商品数量</dt>
            <dd>5000个</dd>
          </dl>
          <dl>
            <dt>赠送短信</dt>
            <dd>5000条</dd>
          </dl>
        </div>
        <p class="gg-tip">本企业版套餐支持独立域名，直播服务需另购</p>
      </div>
    </div>
    <div class="scroll-end">到底咯!</div>
  </div>
  <div class="fixed-btn">
    <!--浮动按钮-->
    <a class="fixed-ljkd" href="{:U('openstore/seller_open_account',array('style'=>6,'operate_sn'=>$operate_sn))}">立即开店</a>
    <a class="fixed-cpty" href="{$LINK}">产品体验</a>
    <a class="fixed-hjkf" href="tel:{$TEL}">呼叫客服</a>
    <a class="fixed-top" onclick="toTop()">回到顶部</a>
  </div>
</div>
</body>
</html>
<script>var packageType = 'business'</script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script>
  function toTop() {
    if ($('html').scrollTop()) {
      $('html').animate({scrollTop: 0}, 1000);
      return false;
    }
    $('body').animate({scrollTop: 0}, 1000);
    return false;
  }
</script>
<include file="Public:share"/>
