<div class="design-preview diy-wap">
  <php>$hasHead = $module['page_config']['shop_head'] == 1;</php>
  <php>if ($hasHead) {</php>
  <div class="header">
    <ul>
      <li>
        <a href="{:U('Goods/search',array('se'=>$storeId,'f'=>$memberId))}" class="fl search-img"></a>
      </li>
      <li>
        <!--店名 加 切换联盟商家-->
        <span class="lineOne">{$storeInfo['store_name']}</span>
        <span class="to-select" onclick="changeStore(this)" data-show="0">[{:L('TOGGLE')}<!--切换-->]</span>
      </li>
      <li class="right-btn">
        <!-- 如果是子店 显示商城 -->
        <php>if ($storeInfo['channel_type'] == 2) {</php>
        <div class="right-btn-1" id="right-btn-1">
          <span></span>
          <div class="right-btn-list">
            <a class="customer-msg"
               href="{:U('Message/customerList',array('se'=>$storeInfo['main_store_id'],'f' => $memberId))}">
              {:L('XIAOXI')}<if condition="$unReadNum gt 0"><font>{$unReadNum}</font></if>
            </a>
            <a class="to-mall" href="{:U('MallHome/mall',array('se'=>$storeInfo['main_store_id'],'f' => $memberId))}">
              {:L('MALL')}
            </a>
          </div>
        </div>
        <php>} else {</php>
        <a class="customer-msg-1" href="{:U('Message/customerList',array('se'=>$storeId,'f' => $memberId))}">
          <if condition="$unReadNum gt 0"><font>{$unReadNum}</font></if>
        </a>
        <php>}</php>
      </li>
    </ul>
  </div>
  <php>}</php>
  <php>$style = 'style="background:' . $bgColor . '"';</php>
  <php>$class = $hasHead ? 'mar_t' : '';</php>
  <div class="cap-preview ui-sortable {$class}" {$style}>
    {$modulesHtml}
  </div>
</div>
<script>
  share_title = "{$module['page_config']['title']}";
  share_desc = "{$module['page_config']['page_desc']}";
</script>