<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>全球采购运营商-{$datas.operate_name}</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Operate/css/style.css?v={$V}">
	    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/share_style.css?v={$V}">
</head>
<style>
	.datalist{padding:10px;}
.datalist ul{width:100%;padding:0;margin:0;list-style:none}
.datalist ul li{width:100%;border-bottom:1px solid #dbdbdb;background:#fff;height:70px;}
.datalist ul li:last-child{border-bottom:0px solid #dbdbdb}
.datalist ul li span:first-child{float:left;width:85%;line-height:20px;}
.datalist ul li span:first-child b{color:#999;font-weight:400;}
.datalist ul li span:last-child{float:left;width:15%;line-height:70px;text-align:right;font-size:14px;}
</style>
<body style="overflow:auto">
<!--<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="__ROOT__/Public/images/back.png">运营中心</a>
        </li>
    </ul>
</div>-->  
<div class="main b_fff" style="padding-bottom:60px">
    <div class="ptrbl_15">
        <span class="mr_10">我的推广标识:</span>
        <span class="color_999">{$datas.operate_name}</span>
    </div>
  <div class="ptrbl_15 b_f2">
        <span class="color_999">我的业务编号</span>
    </div>
    <div class="ptrbl_15 mtb_10">
        <span class="hidden_nowrap" id="copyId2" style="width: 65%">{$datas.operate_sn}</span>
        <button class="fr button2 border_000 click_copy" style="margin-top: -28px">复制</button>
    </div>
    	  
    <div class="ptrbl_15 f_14 color_999">
      <!--   通过分享链接直接开户或开户时输入您的业务编号发展的商家，充值或续费时即可产生收益 -->
		客户通过您的推广链接、套餐推广链接或输入您的业务编号开户成功后，当客户在充值或续费时即可获得收益！
    </div>
   <!--  <div class="ptrbl_15 b_f2">
        <span class="color_999">我的推广链接:</span>
        <a href="{$datas.share_url}"> <span class="fr">推广页分享赚收益<img class="img_20_20 img_sub" src="__ROOT__/Public/Operate/images/next.png"></span></a>
    </div> -->
	<div class="ptrbl_15 b_f2">
        <span class="color_999">我的推广链接:</span>
        
    </div>
	 <div class="ptrbl_15 mtb_10">
        <span class="hidden_nowrap" id="copyId1" style="width: 65%"><a href="{$datas.share_url}">{$datas.share_url}</a></span>
        <button class="fr button2 border_000 click_copy" style="margin-top: -28px">复制推广</button>
    </div>
	<div class="ptrbl_15 b_f2">
        <span class="color_999">套餐推广链接:</span>
        
    </div>
	 <div class="indexList" >
        <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['1']))}">
            <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_sp.png"></div>
            <div class="indexListInfo">
                <p>{$CONFIG['LEVEL_1']['name']}</p>
                <p>{$CONFIG['LEVEL_1']['share_desc']}</p>
            </div>
			<div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
        </a>
         <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['3']))}">
            <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_fx.png"></div>
            <div class="indexListInfo">
                <p>{$CONFIG['LEVEL_3']['name']}</p>
                <p>{$CONFIG['LEVEL_3']['share_desc']}</p>
            </div>
			<div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
        </a>
        <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['7']))}">
          <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_qy.png"></div>
            <div class="indexListInfo">
            <p>{$CONFIG['LEVEL_7']['name']}</p>
            <p>{$CONFIG['LEVEL_7']['share_desc']}</p>
          </div>
          <div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
        </a>
         <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['4']))}">
            <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_pf.png"></div>
            <div class="indexListInfo">
                <p>{$CONFIG['LEVEL_4']['name']}</p>
                <p>{$CONFIG['LEVEL_4']['share_desc']}</p>
            </div>
			<div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
        </a>
          <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['5']))}">
            <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_gc.png"></div>
            <div class="indexListInfo">
                <p>{$CONFIG['LEVEL_5']['name']}</p>
                <p>{$CONFIG['LEVEL_5']['share_desc']}</p>
            </div>
			<div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
        </a>
      <a href="{:U('Openstore/package_info',array('operate_sn'=>$operate_sn,'style'=>$CONFIG['LEVEL']['6']))}">
        <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_wm.png"></div>
        <div class="indexListInfo">
          <p>{$CONFIG['LEVEL_6']['name']}</p>
          <p>{$CONFIG['LEVEL_6']['share_desc']}</p>
        </div>
        <div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
      </a>
      <a href="{$CONFIG['LEVEL_2']['link_url']}">
        <div class="indexListImg"><img src="__PUBLIC__/Operate/images/my_index/package_pt.png"></div>
        <div class="indexListInfo">
          <p>{$CONFIG['LEVEL_2']['name']}</p>
          <p>{$CONFIG['LEVEL_2']['share_desc']}</p>
        </div>
        <div class="indexListright" ><img  src="__ROOT__/Public/Operate/images/next.png"></div>
      </a>
    </div>
	<div class="b_f2 ptrbl_15 f_12"  >
		<if condition="$datas.isshare eq '1'"> 
        <p><a href="{:U('Index/profit_detail')}" class="color_blue f_14">已发展{$datas.store_num}家,累计获得推广/团队收益{$currencySymbol}{$datas.total}</a></p>
		<else />
        <p class="color_blue f_14">已发展{$datas.store_num}家，收益{$currencySymbol}{$datas.total} 明细请登录电脑端查看！</p>
		</if>
    </div> 
   <if condition="$datas.store_num gt '1'">
	<div class=" f_14 datalist" >
         <ul>
            <foreach name="datas['store_list']" item="item">
                <li> 
                    <span>{$item.store_name}<br><b>商家账号:{$item.member_name}<br/>联系电话：{$item.lianxi_member_tel}</b></span>
                    <span>{$item.store_state}</span>
                </li>
            </foreach>
        </ul>
	</div>
	</if>
  
  

</div>
  <button class="footer border_no color_red f_16" style="border-top:1px solid #f1f1f1;">退出登录</button>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js?v={$V}"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/layer/layer.js?v={$V}"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/function_js.js?v={$V}"></script>
<script>
    $(function () { 
        //点击复制按钮
        $('.click_copy').click(function () {
            // 获取复制内容 
            var text=$(this).prev('span').text();
            var id=$(this).prev('span').attr('id');
            copy_text(text,id);
        })
        //点击退出登录按钮
        $('.footer').click(function () {
            layer.confirm('确认要退出登录吗？',function (index) {
                window.location.href="{:U('Login/loginOut')}";
            })
        })
    })
</script>
</body>
</html>