<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商家开户</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Operate/css/style.css">
</head>
<body>
<!--<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">全球采购商家开户</a>
        </li>
        <li><a>收益明细</a></li>
    </ul> 
</div>--> 
<div class="main">
    <form id="submitData" action="{:U('Openstore/store_apply')}" method="post" >
        <div class="b_fff">  
            <div class="ptrbl_15 border_b1">
                <label>店铺名称</label>
                <input class="label_input" name="shopName" placeholder="开通后无法修改店铺名称">
            </div> 
            <div class="ptrbl_15 border_b1">
                <label>行业类别</label>
                <select name="store_parenttype_id"  class="label_input select_none selectImg" style="width: 33%;font-size: 16px;" onChange="getItem()" >
                <option value="">请选择</option>
                <volist name="commontype_parent" id="parent">
                    <option value="{$parent.id}">{$parent.store_type_name}</option>
                </volist>
                </select>
                <select name="store_childtype_id" style="width: 33%;font-size: 16px;float: right" class="label_input select_none selectImg" >
                <option  value="">请选择</option>
                </select>

            </div>
			  <div class="ptrbl_15 border_b10">
                <label>选择套餐</label>
                <select class="label_input select_none" id="package_id" name="package_id" style="width: 60%;font-size: 16px;" onchange="ajax_get_memberlist()">
                    <foreach name="package_list" item="package">
						<option value="{$package['packageid']}" vip_data="{$package['up_level']}">{$package['name']}
						</option>
					</foreach>
                </select> 
                <span class="img_20_20 fr"><img src="__PUBLIC__/Operate/images/next.png"></span>
            </div>
            <div class="ptrbl_15 border_b1">
                <label>选择账号</label>
                <select class="label_input select_none" name="xunxin_num" id="memberSelect" style="width: 60%;font-size: 16px;">
					<foreach name="member_name_list" item="member_list">
						<option value="{$member_list['xunxin_num_name']}" >{$member_list['xunxin_num_name']}</option>
					</foreach> 
                </select>
                <span class="img_20_20 fr"><img src="__PUBLIC__/Operate/images/next.png"></span>
            </div> 
            <div class="ptrbl_15 border_b1">
                <label>登录密码</label>
                <input class="label_input" name="password" type="password" placeholder="请输入登录密码">
            </div>
           
            <div class="ptrbl_15 border_b10">
                <label>选择年限</label>
                <select class="label_input select_none" name="age_limit" style="width: 60%;font-size: 16px;">
                    <option value="1">1年</option>
                    <option value='2'>2年</option>
                    <option value="3">3年</option>
                    <option value="-1">试用</option>
                </select> 
                <span class="img_20_20 fr"><img src="__PUBLIC__/Operate/images/next.png"></span>
            </div>
            <div class="ptb_15 border_b1" style="padding-left: 15px;">
                <label>手机号码</label>
                <input class="label_input" name="account_membertel" style="width: 34%;" placeholder="请输入手机号码">
                <button type="button" class="button2 fr border_no ptrbl_15 color_fff" style="width:inherit;height:52px;background-color: #E36F6F;    position: relative;margin-top: -15px;font-size: 12px;" onclick="sendMessage()" id="check">获取验证码</button>
            </div>
            <div class="ptrbl_15 border_b1">
                <label>验证码</label>
                <input class="label_input" name="phone_code" placeholder="请输入验证码">
            </div>
        </div>
        <div class="ta_c plr_15 mt_30">
            <button class="button b_red1 color_fff" type="button" onclick="validate_sellerOpenAccout()">立即开通</button>
        </div>  
        <div class="ptrbl_15">
            <span class="img_20_20 pr_10"><img class="img_sub" src="__PUBLIC__/Operate/images/select_checkbox.png"></span>
            <span class="f_12">我已同意全球采购服务条款</span>
        </div>
		<div class="b_fff" <if condition="$operate_sn neq ''"> style="display:none" </if> >
			<div class="ptrbl_15 border_b1">
				<label>业务编号：</label>
				<input class="label_input" name="operate_sn" placeholder="请输入业务编号" value="{$operate_sn}">
			</div>
		</div>	  
       
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/Operate/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Operate/js/function_js.js"></script>
<script type="text/javascript">
    //定义了分类的二维数组，里面的顺序跟外表的顺序是相同的。通过selectedIndex获得不同大类的下标值来得到相应的分类数组
    var item={$childs};
    function getItem(){
        //获得大类下拉框的对象
        var sltarea=document.getElementsByName('store_parenttype_id')[0];
        //获得小类下拉框的对象
        var sltItem=document.getElementsByName('store_childtype_id')[0];
        //得到对应大类的城市数组
        var areaItem=item[sltarea.selectedIndex - 1];
        //清空小类下拉框，仅留提示选项
        sltItem.length=1;
        //将小类数组中的值填充到城市下拉框中
        for(var i=0;i<areaItem.length;i++){
            //获得小类名称值areaItem[i][1]        //获得小类名称的下标areaItem[i][0]
            //如果都选值 sltItem[i+1]=new Option(areaItem[i][1],areaItem[i][1]);
            sltItem[i+1]=new Option(areaItem[i][1],areaItem[i][0]);
        }
    }
</script>
<script>
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    function sendMessage() {
        var phone=$('input[name="account_membertel"]').val();
        var dt=window.phoneCheck(phone);
        if(dt!==0){
			$.ajax({			 
				url:"{:U('Openstore/ajax_sendSMS')}",  	
				type:'POST',    
				data:{tel:phone},
				dataType:'JSON',  
				async : false, //默认为true 异步   
				error:function(XMLHttpRequest, textStatus, errorThrown){ 
					layer.msg('短信请求失败',{icon:2,time:1000});	
				},    
				success:function(data){
					if(data.result == 0){
						curCount = count;
						//设置button效果，开始计时
						$('#check').attr("disabled", "true");
						InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
					}else{ 
						layer.msg(data.error,{icon:2,time:1000});	
					}
				}
			}); 
           
            //向后台发送处理数据ajax
        }
    }
    //time处理函数
    function SetRemainTime() {
        if (curCount == 0 ){
            window.clearInterval(InterValObj);//停止计时器
            $('#check').removeAttr("disabled");//启用按钮
            $('#check').html("点击重新发送");
            $('#check').css('background-color','#E36F6F')
        }
        else {
            curCount--;
            $('#check').css('background-color','#D7D7D7')
            $('#check').html(curCount + "秒后重新发送");
        }
    }
    //提交验证
    function validate_sellerOpenAccout(obj) {
	
		var shopName=$('input[name="shopName"]').val();
		var store_parenttype_id  = $("select[name=store_parenttype_id] option:selected").val();
		var store_childtype_id  = $("select[name=store_childtype_id] option:selected").val();
		var package_id  = $("select[name=package_id] option:selected").val();
		var xunxin_num  = $("select[name=xunxin_num] option:selected").val();
        var password=$('input[name="password"]').val();
        var password=$('input[name="password"]').val();
        var phone=$('input[name="account_membertel"]').val();
        var code=$('input[name="phone_code"]').val();
		if(shopName == ''){  
			layer.msg('店铺名称不能为空',{icon:2,time:1000});
			return false;
		}else if(store_parenttype_id == '' || store_childtype_id == ''){
			layer.msg('店铺行业必须选择!',{icon:2,time:1000});
			return false;
		}else if(package_id == '' ){ 
			layer.msg('套餐必须选择!',{icon:2,time:1000});
			return false;
		}else if(xunxin_num == ''){
			layer.msg('商户账号必须选择!',{icon:2,time:1000});
			return false;
		}else if(phoneCheck(phone)==0||passwordCheck(password)==0){
            return false;
        }else if(code == ''){
			layer.msg('验证码不能为空!',{icon:2,time:1000});
			return false;
		}else{
			var  url  = "{:U('Openstore/ajax_checkcode')}";
			$.ajax({  
				type: "POST",
				url: url, 
				data: {tel:phone,code,code},   
				dataType: "json",
				success: function(data){    
					if(data.result == 0){
						$("#submitData").submit();
					}else{ 
						layer.msg(data.error,{icon:2,time:1000});	
					}
					 
				},    
				error:function(){
					layer.msg('访问失败!',{icon:2,time:1000});
				}  
			}); 
		} 
       
       
    }
	 
	 
	function ajax_get_memberlist(){
		var vip = $("#package_id").find("option:selected").attr('vip_data');
		var  url  = "{:U('Openstore/ajax_get_memberlist')}";
		$.ajax({  
			type: "POST",
			url: url, 
			data: {vip:vip},   
			dataType: "json",
			success: function(data){    
				$("#memberSelect").empty();
				var length = data.length;
				for(var i = 0 ; i < length ;i++){ 
					var name = data[i]['xunxin_num_name'];
					$(`<option value=${name}> ${name}</option>`).appendTo("#memberSelect");
				}        
			},    
			error:function(){
				alert('访问失败');     
			}  
		});  
	}
</script>
</body>
</html>