<include file="Public:meta"/>
<link rel="stylesheet" href="__PUBLIC__/admin/css/Auth/index.css" media="all">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理登录页</title>
  <style>
    html, body{overflow-y: auto;background: #dfe9fb;}
  </style>
</head>
<body>
<div class="login-bg" id="app" v-cloak="">
  <div class="login">
    <h2>门店卡券管理系统</h2>
    <el-form ref="loginFrom" :model="query" :rules="rules" label-width="112px">
      <el-form-item prop="username">
        <el-input v-model="query.username" placeholder="请输入您的用户名"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input type="password" v-model="query.password" placeholder="请输入您的密码"></el-input>
      </el-form-item>
      <el-form-item prop="verify" class="input-count login-imgcode">
        <el-input v-model="query.verify" placeholder="请输入图形验证码"></el-input>
        <img :src="temp.verifyImg" @click="changeImgCode()" title="点击刷新" class="el-button"
             style="height: 40px;padding: 0;">
      </el-form-item>
      <el-form-item style="width:100%;padding-top: 10px;">
        <el-button type="primary" style="width:100%;" @click.native.prevent="handleLogin" :loading="temp.loading">
          登录
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</div>
<script src="__ROOT__/Public/admin/js/Auth/login.js?version={$v}"></script>
</body>
</html>
