<php>if (!empty($centerList)) {</php>
<div :class="design-preview-item">
  <div class="design-preview-controller">
    <php>$style = 'style="background-color:' . $module['content']['bg_color'] . '"';</php>
    <php>
      $class = 'm15-coupon_style__' .
      $module['content']['coupon_style'] .
      ' m15-coupon_color__' .
      $module['content']['coupon_color'];
    </php>
    <ul class="cap-coupon {$class}" {$style}>
      <!--假设：n===2：已领取 take_type == 3-->
      <php>foreach($centerList as $key => $coupon) {</php>
      <php>$hasTake = $coupon['take_type'] == 3;</php>
      <php>$class = $hasTake ? 'class="invalid"' : '';</php>
      <php>$click = $hasTake ? '' : 'onclick="receiveCoupon(this)"';</php>
      <php>$invalidImg = '/Public/admin2/img/Diy/coupon/style' . $module['content']['coupon_style'] . '_invalid.png';
      </php>
      <php>
        $activeImg =
        '/Public/admin2/img/Diy/coupon/style' .
        $module['content']['coupon_style'] .
        '_color' .
        $module['content']['coupon_color'] .
        '.png';
      </php>
      <php>$img = $hasTake ? $invalidImg : $activeImg;</php>
      <li {$class} {$click} data-id="{$coupon['id']}" data-invalid-img="{$invalidImg}">
        <img class="coupon-img" data-src="{$img}">
        <div class="coupon-money">
          <php>if ($coupon['coupons_type'] == 1) {</php>
          <h1><font>{$storeInfo['currency_symbol']}</font><b>{$coupon['coupons_money']}</b></h1>
          <php>} else {</php>
          <h1><b>{$coupon['coupons_discount']*10}</b><font>{:L('FOLD')}</font></h1>
          <php>}</php>
          <p>{$coupon['coupons_value']['limit']}</p>
        </div>
        <php>$takeDesc = $hasTake ? L('STATE_RECEIVED') : L('WIN_PROMPT_4')</php>
        <php>if ($module['content']['coupon_style'] == 0) {</php>
        <div class="coupon-btn">
          <p>{:L('COUPON')}</p>
          <button class="coupon-btn-name">{$takeDesc}</button>
        </div>
        <php>} elseif ($module['content']['coupon_style'] == 2) {</php>
        <div class="coupon-btn coupon-btn-name">{$takeDesc}</div>
        <php>} else {</php>
        <php>}</php>
      </li>
      <php>}</php>
    </ul>
  </div>
</div>
<php>}</php>
