<div class="design-preview-item">
  <div class="design-preview-controller">
    <php>$style_module = 'style="' . capCubeImgStyle(0, $module['content']) . '"';</php>
    <div class="cap-cube-img" {$style_module}>
      <php>$style = 'style="' . capCubeImgStyle(1, $module['content']) . '"';</php>
      <div class="cube-img-div" {$style}>
        <php>foreach ($module['content']['cube_layout']['allPickMatrix'] as $key => $cubeImg) {</php>
        <php>$itemStyle = 'style="' . capCubeImgStyle(2, $module['content'], $cubeImg) . '"';</php>
        <div {$itemStyle}>
          <php>$url = getLinkTypeUrl($cubeImg['action'], $cubeImg['action_data'], $storeInfo);</php>
          <php>
            $imgWidth = ceil((double)$cubeImg['width'] * 2);
          </php>
          <a class="wap-bg-img" href="{$url}"><img data-src="{$cubeImg['img_url']}?_{$imgWidth}xx4"></a>
        </div>
        <php>}</php>
      </div>
    </div>
  </div>
</div>
