<div class="design-preview-item">
  <div class="design-preview-controller">
    <php>
      if ($module['content']['list_style'] == 2) {
      $classSwiper = 'swiper-goods-list';
      $pageHtml = '<div class="swiper-button-prev"></div><div class="swiper-button-next"></div>';
      }
    </php>
    <div class="cap-goods-group">
      <php>
        $class = 'm14-menu_style__' .
        $module['content']['menu_style'] .
        ' m14-menu_type__' .
        $module['content']['menu_type'];
      </php>
      <ul class="goods-group-tab {$class}">
        <php>foreach($module['content']['menu_list'] as $index => $tab) {</php>
        <php>$active = ''; if ($index === 0) $active = 'class="active"';</php>
        <li {$active} onclick="clickGoodsGroupTab(this, '{$index}')"><span>{$tab['menu_name']}</span></li>
        <php>}</php>
      </ul>
      <php>
        $class = 'm10-list_style__' .
        $module['content']['list_style'] .
        ' m10-show_style__' .
        $module['content']['show_style'];
      </php>
      
      <php>foreach($module['content']['menu_list'] as $index => $tab) {</php>
      <php>$style = 'style="display: none;"'; if ($index === 0) $style = '';</php>
      <div class="{$classSwiper} goods-group-div" {$style}>
        <ul class="cap-goods-list goods-group-list swiper-wrapper {$class}">
          <php>if (empty($tab['goodsHtml'])) {</php>
          <div class="diy-data-null">{:L('NO_GOODS')}</div>
          <php>} else {</php>
          {$tab['goodsHtml']}
          <php>}</php>
        </ul>
        {$pageHtml}
      </div>
      <php>}</php>
    </div>
  </div>
</div>
