<div class="cap-img-ad">
  <div class="m11-img_module__{$selectedImgModule}">
    <php>if ($selectedImgModule == 0) {</php>

    <!--region 轮播广告-->
    <div class="img-ad-swiper" id="img-ad-swiper__{$module['module_id']}">
      <ul class="swiper-wrapper">
        <php>foreach($imgList as $key => $img) {</php>
        <php>
          $imgHeight = ceil(750 * ((double)$imgModule[0]['img_height2'] / 100));
          $imgUrl = $img['img_url'].'?_750x'.$imgHeight.'x2';
        </php>
        <li class="swiper-slide">
          <php>$url = getLinkTypeUrl($img['action'], $img['action_data'], $storeInfo);</php>
          <a class="wap-bg-img" {$advH} href="{$url}" data-action="{$img['action']}-{$img['action_data']}"><img data-src="{$imgUrl}"></a>
        </li>
        <php>}</php>
      </ul>
      <ul class="swiper-pagination img-ad-swiper-pagination m11-btn_style__{$imgModule[0]['btn_style']} m11-btn_position__{$imgModule[0]['btn_position']} m11-btn_color__{$imgModule[0]['btn_color']}">
        <php>foreach($imgList as $index => $img) {</php>
        <php>$style = ''; $class = '';</php>
        <php>if ($index === 0) {</php>
        <php>$style = 'style="background-color: ' . $imgModule[0]['btn_color'] . '"'</php>
        <php>$class = "swiper-pagination-bullet-active"</php>
        <php>}</php>
        <span class="swiper-pagination-bullet {$class}" {$style}>
            </span>
        <php>}</php>
      </ul>
    </div>
    <!--endregion-->

    <php>} elseif ($selectedImgModule == 1) {</php>

    <!--region 一行一个-->
    <div>
      <php>foreach($imgList as $key => $img) {</php>
      <php>$style = 'style="margin-bottom:' . $imgModule[1]['img_gap'] . 'px;"'</php>
      <php>$url = getLinkTypeUrl($img['action'], $img['action_data'], $storeInfo);</php>
      <a href="{$url}" data-action="{$img['action']}-{$img['action_data']}"><img data-src="{$img['img_url']}?_700xx4" {$style}></a>
      <php>}</php>
    </div>
    <!--endregion-->

    <php>} elseif ($selectedImgModule == 2) {</php>

    <!--横滑广告-->
    <php>$style_bg = 'style="background-color:' . $imgModule[2]['bg_color'] . '"';</php>
    <div class="img-ad-swiper2" {$style_bg}>
      <ul class="swiper-wrapper">
        <php>foreach($imgList as $key => $img) {</php>
        <php>$style_mr = 'style="margin-right:' . $imgModule[2]['img_gap'] . 'px;"'</php>
        <php>$style_img = 'style="height:' . $imgModule[2]['img_height']/2 . 'px;"'</php>
        <php>$img_bg = ''</php>
        <php>if($img['img_url'] === ''){</php>
        <php>$img_bg = 'bg-img_'</php>
        <php>}</php>
        <php>$url = getLinkTypeUrl($img['action'], $img['action_data'], $storeInfo);</php>
        <li class="swiper-slide" {$style_mr}>
          <a class="ta_c {$img_bg}" href="{$url}">
            <img data-src="{$img['img_url']}" {$style_img}>
          </a>
        </li>
        <php>}</php>
      </ul>
    </div>

    <php>}</php>
  </div>
</div>
<script type="text/javascript" src="__JQUERY__"></script>
<script type="text/javascript" src="__SWIPERJS__"></script>
<script src="__PUBLIC_WAP__"></script>
<script>
  /*diy轮播*/
  (function () {
    var selectedImgModule = '{$selectedImgModule}'
    if(+selectedImgModule === 0){
      var module_id = "{$module['module_id']}"
      var autoplay = "{$imgModule[0]['swiper_autoplay']}"
      autoplay = autoplay ? autoplay : 1800
      imgSwiper('#img-ad-swiper__'+module_id, +autoplay)
    }
    function imgSwiper(el, autoplay){
      // 当前轮播的分页器数组
      var span = $(el).find('ul span')
      var color = span.css('background-color')
      console.log('autoplay='+autoplay)
      publicWap.swiperOne(el, {
        paginationType: 'custom',
        speed: 350,//速度
        autoplay: autoplay,
        onSlideChangeStart: function (swiper) {
          span.removeClass('swiper-pagination-bullet-active')
          span.css('background-color', '')
          $(span[swiper.activeIndex]).addClass('swiper-pagination-bullet-active')
          $(span[swiper.activeIndex]).css('background-color', color)
        }
      })
    }
  })();
</script>