<div class="design-preview-item">
  <div class="design-preview-controller">
    <div class="cap-notice m20-btn_type__{$module['content']['btn_type']}">
      <php>$style = 'style="background-color:' . $module['content']['bg_color'] . '"';</php>
      <div class="notice-div" {$style}>
        <php>
          $style = 'style="color:' .
          $module['content']['icon_color'] .
          ';border-color:' .
          $module['content']['icon_color'] .
          '"';
        </php>
        <span class="notice-tip" {$style}>
          {:L('NOTICE')}
        </span>
        <div class="notice-swiper">
          <ul class="swiper-wrapper">
            <php>foreach($noticeList as $notice) {</php>
            <li class="swiper-slide">
              <php>$style = 'style="color:' . $module['content']['text_color'] . '"';</php>
              <php>
                $href = $notice['notice_type'] == 2 ?
                $notice['notice_web_url'] :
                U('Bulletin/bulletindetail',array('notice_id'=>$notice['notice_id'],'se'=>$storeId,'f'=>$memberId))
              </php>
              <a href="{$href}" {$style}>{$notice['title']}</a>
            </li>
            <php>}</php>
          </ul>
        </div>
        <a class="notice-more" href="{:U('Bulletin/bulletinlist',array('se' => $storeId,'f' => $memberId))}">{:L('MORE')}</a>
      </div>
    </div>
  </div>
</div>
