.login-bg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg,rgba(95,126,255,1) 0%,rgba(87,198,254,1) 100%);
}
.login{box-sizing: border-box;position:relative;
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 4px;
  padding:30px;
  width: 400px;
}
.login h2{
  font-size: 26px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 27px;
  position: relative;
  font-family: 华文宋体 Black;
}
.login form{box-shadow: -2px 1px 13px 0px rgba(255, 255, 255, 0.65);border-radius: 20px;margin: auto;}
.login form .el-form-item__content{
  margin-left: 0!important;
}
.login form .el-form-item{margin-bottom: 16px;vertical-align: middle;}
.login form .el-input__inner{height: 42px!important;line-height: 42px!important;font-size: 14px!important;border-radius: 25px;padding: 0 20px;}
.login form .layui-input::-webkit-input-placeholder {
  color: #B9B9B9;
}
.login form .login-imgcode .el-input{width: calc(100% - 105px);display: inline-block;}
.login form .login-imgcode img{
  width: 100px;float: right;height: 40px;
  border-radius: 0;
}
.login form .el-button{width: 100%;height: 42px;background-color: #4da6ff;border-radius: 25px;color: #fefefe;border: none;font-size: 16px;text-decoration: none;display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.login form .layui-form-item.submit-login{display: inline-block;width: 100%;margin:10px 0;}
.register form{width: 460px;}
.register h2>a{position: absolute;background: url("../images/login/left_black.png")center center no-repeat;background-size: 24px 23px;display: inline-block;width: 24px;height: 23px;left: 0px;top: 4px;}
.register .layui-form-item label{width: 80px;text-align: right;display: inline-block;color: #666666}
.register .layui-form-item .register-input{width: calc(100% - 85px);display: inline-block;}
.login .register-link{text-align: right;}
.login .register-link a{text-align: right;color: #999999;font-size: 14px;}
