<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /**
     * js截取字符串，中英文都能用
     * @param str：需要截取的字符串
     * @param len: 需要截取的长度
     */
    function cutstr(str, len) {
        var str_length = 0;
        var str_len = 0;
        str_cut = new String();
        str_len = str.length;
        for (var i = 0; i < str_len; i++) {
            a = str.charAt(i);
            str_length++;
            if (escape(a).length > 4) {
                //中文字符的长度经编码之后大于4
                str_length++;
            }
            str_cut = str_cut.concat(a);
            if (str_length >= len) {
                str_cut = str_cut.concat("...");
                return str_cut;
            }
        }
        //如果给定字符串小于指定长度，则返回源字符串；
        if (str_length < len) {
            return str;
        }
    }

    var appId = '{$appId}';
    var timestamp = '{$timestamp}';
    var nonceStr = '{$nonceStr}';
    var signature = '{$signature}';
    if (typeof(title) === "undefined" || share_title.length === 0) {
        title = "{$title}";
        if (title.length === 0){
            title = document.title;
        }
    }
    if (typeof(desc) !== "undefined") {
        desc = desc.replace(/(^\s*)|(\s*$)/g, "");
    }

    if (typeof(desc) === "undefined" || desc.length === 0) {
        desc = "{$desc}";
    }

    desc = cutstr(desc,140);

    if (typeof(imgUrl) === "undefined" || imgUrl.length === 0) {
        imgUrl = "{$imgUrl}";
    }

    if (typeof(link) === "undefined" || link.length === 0) {
        link = "{$link}";
    }

    wx.config({
        debug: false, //  开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareAppMessage({       //分享给朋友
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
            }
        });
        wx.onMenuShareTimeline({       ///分享到朋友圈
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
            }
        });
    });
</script>